@import "tailwindcss";

@font-face {
  font-family: "Bold";
  src: url("../assets//fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: url("../assets/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: url("../assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}

@theme {
  /* Fonts */

  --font-sans: "Regular", "Inter";
  --font-bold: "Bold", "Inter";
  --font-medium: "Medium", "Inter";
  --font-semibold: "SemiBold", "Inter";

  /* Colors */

  --color-black: #151610;
  --color-green: #2db976;
  --color-green-hover: #218a58;
  --color-dark-green: #203522;
  --color-purple: "#6963B5";
  --color-blue: "#0088E4";
  --color-gray: #5d6165;

  /* Screen sizes */

  --screens-sms: 640px;
}

html,
body {
  @apply bg-black;
  @apply text-white;
}

.padd {
  @apply px-[8%];
}


/* screen size of ipad */
@media (max-width: 768px) {
  .padd {
    @apply px-[5%];
  }
}

/* screen size of mobile */
@media (max-width: 640px) {
  .padd {
    @apply px-[3%];
  }
}
